*{
    margin: 1;
    padding: 1;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: #000000;
}


::placeholder{
    font-size: 14px;
    color: #000000;
    opacity: 100%;
}

input:placeholder-shown {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
    background-color: blue;
    border: 3px ridge rgb(0, 0, 0);
}

#a{
    color: rgb(0, 0, 0);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), transparent);
    background-color: rgb(177, 177, 187);
}

h1{
    font-size: 30px;
}

h2{
    font-size: 30px;
}

.opcoes{
    margin-bottom: 30px;
}

hr{
    background-color: rgb(0, 0, 0);
}
